.footer {
    width: 100%;
    margin-left: calc(50% - 50vw);
    text-align: center;
    padding: 0.25rem;
    background: #ac1d1d;
    color: #ffffff;
    font-family: "Georgia", serif;
    font-size: 0.75rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    position: absolute;
    bottom: 0;
}
